/*
    Enlaces de login.html a otras páginas.
*/


/*
    Enlaces de login.html olvidé mi contraseña.
*/

.remember-me a {
    text-decoration: none;
    color: #fff;
    font: {
        size: $font-size-link;
        family: $font-family;
    }
    ;
}

.remember-me a:hover {
    @include hover;
}


/*
    Enlaces de login.html iniciar sesión con Google y Twitter

*/

.social-media a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-family: $font-family;
}

.social-media a:hover {
    @include hover;
}


/*
    Enlaces de login.html Registrate

*/

.register a {
    text-decoration: none;
    color: #fff;
    font: {
        size: $font-size-link;
        family: $font-family;
        weight: bold;
    }
    ;
}

.register a:hover {
    @include hover;
}


/*
    Enlaces de login.html footer

*/

.footer a {
    text-decoration: none;
    color: #fff;
    font: {
        size: $font-size-link;
        family: $font-family;
    }
    ;
    padding-left: 30px;
    cursor: pointer;
}

.footer a:hover {
    @include hover;
}