/*
    texts of html documents
*/


/*
    Título formulario login.html
*/

.container-title>h2 {
    margin: 0px;
    font: {
        family: $font-family;
        // size: 30px;
    }
}


/*
    Propiedades de formato para la etiqueta dentro
    del container-remember-me "recuerdame"
*/

.container-remember-me label {
    font: {
        family: $font-family;
        size: 14px;
    }
    ;
}


/*
    Propiedades de formato para el párrafo
    del container-register "No tienes ninguna cuenta"
*/

.container-register p {
    font: {
        size: $font-size-link;
        family: $font-family;
    }
    ;
    margin: 0px;
}