/*
    texts of html documents
*/


/*
    Título formulario login.html
*/

.title>h2 {
    margin: 0px;
    font: {
        family: $font-family;
        // size: 30px;
    }
}


/*
    Propiedades de formato para la etiqueta dentro
    del remember-me "recuerdame"
*/

.remember-me label {
    font: {
        family: $font-family;
        size: 14px;
    }
    ;
}


/*
    Propiedades de formato para el párrafo
    del register "No tienes ninguna cuenta"
*/

.register p {
    font: {
        size: $font-size-link;
        family: $font-family;
    }
    ;
    margin: 0px;
}


/*
    Propiedades de formato de texto para not found
*/

.title-size {
    font-size: 100px;
    margin: 0px;
    color: $color;
    font-family: $font-family;
}

.subtitle-size {
    font-size: 25px;
    color: $color;
    font-family: $font-family;
}