body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.header {
    background: #21c08b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 0px;
}

.header img {
    margin-left: 30px;
    width: 200px;
}

.login {
    background: linear-gradient(#21c08b, #ab88ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #fff;
    border-radius: 40px;
    color: #fff;
    padding: 60px 68px 40px;
    min-height: 400px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.container__title {
    padding: 10px;
    box-sizing: border-box;
}

.container__title>h2 {
    margin: 0;
}

.login__container--form {
    display: flex;
    flex-direction: column;
    height: 20%;
}

.container__inputs-button {
    display: inherit;
    flex-direction: inherit;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.login__container-login-user {
    display: inherit;
    justify-content: center;
    align-items: center;
}

.login__container-login-user a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-family: 'Muli', sans-serif;
    margin-top: 20px;
}

.login__container-login-user a:hover {
    text-decoration: underline;
}

.input {
    background: transparent;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder {
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    letter-spacing: 1px;
    padding: 10px;
}

.footer {
    background-color: #ab88ff;
    height: 50px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.footer a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    padding-left: 30px;
    cursor: pointer;
}

.footer a:hover {
    text-decoration: underline;
}