body {
    margin: 0px;
    padding: 0px;
    font-family: 'Muli', sans-serif;
    background-color: #6D33A0;
    color: #fff;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px;
}

.mn__logo {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu {
    margin-right: 10px;
}

.menu__logo-user {
    margin-right: 8px;
    margin-top: 10px;
    width: 40px;
}

/*Definir menú*/

.header__menu-profile {
    display: flex;
    align-items: center;
}

.header__menu ul {
    display: none;
    list-style-type: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    text-decoration: none;
    color: #fff;
}

.header__menu li a:hover {
    text-decoration: underline;
}       

.header__menu-profile p{
    margin: 0px;
}

/**********************************************************/


/*Estilos sección buscador....*/

.main__search{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 10%;
}

.search__title{
    margin-bottom: 1%;
    font-size: 150%;
}

.search__input{
    display: flex;
    justify-content: center;
    width: 70%;
}

.input{
    width: inherit;
    border-radius: 50px;
    border: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    font-family: 'Muli', sans-serif;
    padding: 0px 20px;
    height: 40px;
    background-color:rgba(255, 255, 255, 0.1);
}

::placeholder{
    color: #fff;
}

.input:focus{
    outline: none;
}