body {
    margin: 0px;
    padding: 0px;
    font-family: 'Muli', sans-serif;
    background-color: #A72ED1;
    color: #fff;
}

.header {

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mn__logo {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu {
    margin-right: 30px;
}

.menu__logo-user {
    margin-right: 8px;
    margin-top: 10px;
    width: 40px;
}

/*Definir menú*/

.header__menu-profile {
    margin-right: 8px;
    width: 60px;
    display: flex;
    align-items: center;
}

.header__menu ul {
    display: none;
    list-style-type: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    text-decoration: none;
    color: #fff;
}

.header__menu li a:hover {
    text-decoration: underline;
}       

.header__menu-profile p{
    margin: 0px;
}

/**********************************************************/
