/*
    Propiedades de login-container (sección principal)
*/

.wraper {
    background: $background-color--wraper;
    @include align-wraper;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}